<!DOCTYPE html>
<html>
  <% include ../partials/head.ejs %>
<body>
  <% include ../partials/nav.ejs %>
  <header>
    <h1>Family Game Night - Chat</h1>
  </header>
    <br>
    <br>
    <div class="body-container-col">

      <div class="chat">
        
        <div class="post">
          
          <div class="text">
            <strong>From:</strong> Username<br>
            <p>This is my post!</p>
          </div>
          
          <img src="/Images/eights.jpg">

        </div>
        <div class="post">
          <div class="text">
            <strong>From:</strong> Username<br>
            <p>This is my post!</p>
          </div>
        </div>

        <form>
          <textarea>
            Add text here!
          </textarea><br>
          <button>Attach Image</button><br>
          <button>Send</button><br>
        </form>

      </div>

        

    </div>

    
  </body>
  </html>