<!DOCTYPE html>
<html>
  <% include ../partials/head.ejs %>
<body>
  <% include ../partials/nav.ejs %>
  <header>
    <h1>Family Game Night - Home</h1>
  </header>
    <br>
    <br>
    <h3>Games:</h3>
    <div class="body-container-col">
      <div class="block-center">
        <div class="item">
          <img src="/Images/eights.jpg">
          <h4>Crazy Eights</h4>
          <p>A fast and crazy card game!</p>
          <button>Play Now!</button>
        </div>
      </div>
    </div>
    
  </body>
  </html>